form {
    margin: 50px;
}
img {
    width: 50px;
    height: 50ox;
}

#gmbrberanda{
    width: 500px;
    height: 250px;
    position:relative
}

#vertikal {
    height: 100px;
    width: 1px;
    border-left: 1px;
    margin-left: 5px;
}

#teks1 {
    text-align: justify;
}

#navbars {
    color: black;
}

#floattext {
    text-align: justify;
}

#gambarhome {
    width: 390px;
    height: 208px;
    text-align: center;
}

#peta {
    width: 250px;
    height: 300px;
    float: left;
    margin-right: 50px;
}

#pilihankapal {
    width: 479px;
    height: 279px;
}

#pilihankapal2 {
    text-align: center;
    margin-top: 70px;
    
}

#deskripsikapal {
    width: 475px;
    height: 278px;
}

#footer {
    background-color: black;
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    margin-bottom: 0px;
}

#gambar1
{
    margin-top: 100px;
}


#gambar-kapal
{
 margin-left: 50px  ;
}